body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
  color: var(--text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.arrow span {
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid var(--accent);
  border-right: 2px solid var(--accent);
  transform: rotate(45deg);
  animation: animate 2s infinite;
}
.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(10px, 10px);
  }
}

:root {
  --background: #e6edfa;
  --text: black;
  --color-primary: #fff;
  --color-secondary: #6837fa;
  --accent: #3c9ffc;
  --color-shade: #c5d2ea;
}
[data-theme='dark'] {
  --background: #44455e;
  --text: white;
  --color-primary: #2c2c3d;
  --color-secondary: #fff;
  --accent: #9168fb;
  --color-shade: #c5d2ea;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.parent {
  font-size: 24px;
  background-color: var(--accent);
  flex: 1 1 auto;
  display: flex;
}
.child {
  background-color: var(--color-primary);
}
.grandchild,
.greatgrandchild,
.greatgreatgrandchild {
  border: 1px solid var(--accent);
}

.card {
  position: relative;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 15px 0;
  text-align: center;
  box-sizing: border-box;
}

.card .childspan {
  color: var(--color-primary);
  background-color: var(--accent);
  padding: 5px 10px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 666px;
}

.card .grandchildspan {
  color: var(--text);
  border: 1px solid var(--accent);
  padding: 5px 10px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 666px;
}

.card:hover .childspan,
.card:focus .childspan,
.card:active .childspan,
.card.selected .childspan {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.cardgroup {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.childcards,
.grandchildcards {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.childcard,
.grandchildcard {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.card:hover,
.card:focus,
.card:active,
.card.selected {
  background-color: var(--color-shade);
  color: var(--color-secondary);
}

@media screen and (max-width: 768px) {
  .cardgroup {
    flex-direction: column;
  }
  .childcards {
    flex-direction: column;
  }
  .childcard {
    flex-direction: column;
  }
}
